# ----------------------------
# PYTHON
#------------------------------
.ipynb_checkpoints/
dist/
media/
data/
*.egg-info/
*_log.out
## ------------------------------
# Visual Studio Code
#--------------------------------
.vscode/
